<!DOCTYPE html>
<html>
  <head>
    <title>Python Flask App</title>

   

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Sign In</a></li>
 	    <li><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h2>Python Flask App</h2>
      </div>

      <div class="jumbotron">
        <h1>Toy List App</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up</a></p>
      </div>

     

      <footer class="footer">
      </footer>

    </div>
  </body>
</html>